body{
    background-color: rgb(50, 49, 49);
}
.game-board{
    display: flex;
    flex-direction: column-reverse;
    border: 5px solid whitesmoke;
}
.board{
    display: flex;
    flex-direction: column;
    height: 248px;
    margin: 15px;
    background-color: rgb(69, 50, 27);
}
.player-board{
    flex-direction: column-reverse;
}
.player-one{
    order: 1;
    border: 2px solid cyan;
}
.player-two{
    order: 5;
    border: 2px solid red;
}
.card-zone{
    display: flex;
    justify-content: space-around;
}
.top{
    margin-top: 15px;
}
.bottom{
    margin-bottom: 15px;
}
.command{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(255, 0, 221);
}
.unit{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(0, 255, 0);
}
.game-information{
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin-top: 1em;
    border: 2px solid rgb(255, 0, 212);
}
.actions{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 1em;
}
.btn{
    height: 50px;
}
.icon{
    height: 100px;
    width: 100px;
    margin: 1em;
}
.commentary{
    text-align: center;
    padding: 0px 10px;
    order: 3;
    width: 300px;
    margin: 20px 0px;
    color: aliceblue;
    border: 2px solid orange;
}
.player-info-box{
    align-content: center;
    display: flex;
    justify-content: center;
    height: 120px;
    width: 200px;
    padding: 0px 10px;
    margin: 20px 0px;
    color: aliceblue;
}
.hand{
    text-align: center;
    width: 200px;
    padding: 0px 10px;
    margin: 20px 0px;
    color: aliceblue;
}
.game-history{
    text-align: center;
    order: 4;
    width: 200px;
    padding: 0px 10px;
    margin: 20px 0px;
    color: aliceblue;
    border: 2px solid yellow;
}